
.material-symbols-outlined {
  font-size: 1.5em;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-align: center;
    background: rgb(240, 233, 210);
    letter-spacing: 0.1em;
    line-height: 1.5;
    display: flex;
}    

/* navbar */

.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}
#navbar {
    background-color: rgb(242, 247, 99);
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    font-family: "Amatic SC", sans-serif;;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 6em;
    width: 100%;
    box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.1);
}
#navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    flex-shrink: 1;
}
.drop-down {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 2em;
    color: black;
    text-decoration: none;
    padding: 0 1em;
}
.logo {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: wrap;
    justify-content: flex-start;
    align-items: center;
    max-width: 20em;;
    height: 100%;
    padding: auto;
    font-size: 1.5em;
}
.logo svg {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
    max-width: 2em;
    height: 2em;
    margin-right: 0.5em;
}
h1 {
    font-size: 2em;
    margin: 0;
    color: black;
    font-weight: bold;
    font-family: "Amatic SC", sans-serif;
    line-height: 1;
}
.search-form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    width: 50%;
    justify-content: center;
    padding: 0 1em;
    right: 0.3em;
}
#searchInput {
    height: 0.3em;
    border: 1px solid rgba(252, 252, 240, 0.5);
    border-radius: 0.5em;
    margin-right: 2em;
    font-size: 1.1em;
    flex-grow: 1;
    flex-shrink: 1;
    width: 9.4em;
    padding: 0.5em;
    background: rgb(240, 233, 210)
}
#dropdown, #searchButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(242, 247, 99);
    color: rgb(30, 48, 80);
    border: 1px solid rgba(240, 233, 210, 1);
    border-radius: 2em;
    height: 2.5em;
    width: 2.5em;
    background-color: rgb(242, 247, 99);
    flex-shrink: 1;
    flex-grow: 1;
    cursor: pointer;
}
#searchButton {
    position: relative;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0.5em;
}

/* main content */
#recipeResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0 auto;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}
.recipe {
    background-color: rgb(248, 243, 220);
    border-radius: 0.5em;
    padding: 1em;
    margin: 1.5em auto;
    box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
}
.recipe img {
    max-width: 50%;
    height: auto;
    border-radius: 0.5em;
    box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}
.recipe h3 {
    font-size: 1.2em;
    font-weight: 600;
    margin: 1em 0;
    color: rgb(30, 48, 80);
}
.recipe p {
    background: rgba(252, 252, 240, 0.8);
    color: rgb(30, 48, 80);
    margin: 1.5em 1em;
    padding: 1em 0.5em;
    height: auto;
    border-radius: 0.2em;
    box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    font-size: 0.9em;
}
.recipe a, button {
    text-decoration: none;
    color: rgb(30, 48, 80);
    font-weight: bold;
    background-color: rgb(242, 247, 99);
    padding: 0.5em 1em;
    border-radius: 0.5em;
    transition: background-color 0.2s ease-in-out;
    transform: scale(1.05);
}

.view-recipe-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(242, 247, 99);
    color: rgb(30, 48, 80);
    border: none;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
    margin-top: 1em;
    transition: background-color 0.2s ease-in-out;
    transform: scale(1.05);
    width: 7em;
    text-align: center;
}

.meal-detail-actions {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-around;
    margin-top: 1em;
    height: 4em;
}

.meal-detail-actions button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(242, 247, 99);
    color: rgba(30, 48, 80, 1);
    border: none;
    border-radius: 0.5em;
    padding: 1em 1em;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 1em;
    transition: background-color 0.2s ease-in-out;
    transform: scale(1.05);
    width: 25%;
    text-align: center;
}

.meal-detail-card {
    background-color: rgb(248, 243, 220);
    border-radius: 0.5em;
    padding: 1em;
    margin: 10em auto;
    box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.1);
    width: 80%;
    min-width: 18em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;
    font-size: 1em;
    line-height: 2;
    letter-spacing: 0.05em;
    text-align: center;
}

.meal-detail-card img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5em;
    box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.meal-detail-card ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.video-container {
    width: 100%;
    aspect-ratio: 16 / 9;
}

iframe {
    width: 100%;
    height: 100%;
}
/* footer */

footer {
    background-color: rgb(242, 247, 99);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    font-family: "Open Sans", sans-serif;;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 4em;
    width: 100%;
    letter-spacing: 0.1em;
    box-shadow: 0 -0.2em 0.5em rgba(0, 0, 0, 0.1);
}
footer a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
footer p {
    padding: 1em;
}

/* media queries and animations*/
@media only screen and (max-width: 480px) {

    .recipe {
        min-width: 60%;
        height: auto;
    }
    #searchInput {
    width: 50%;
    margin-bottom: 1em;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.9em;
    }
}
@media only screen and (max-width: 764px) {
    .logo{
    font-size: 1em;
    flex-direction: column;
    align-items: center;
    }
    .recipe {
        margin: 1em auto;
    }
}
@media only screen and (min-width: 764px) {
    #searchInput {
        margin-bottom: 1em;
        width: 17.4em;
    }
    #searchForm {
        display: flex;
        position: relative;
        align-items: center;
    }
    .video-container {
        max-width: 75%;
    }
}
.recipe:hover {
    transform: scale(1.02);
    border: 1px solid rgba(252, 252, 240, 0.5);
}
.recipe a:hover {
    background-color: rgb(30, 48, 80);
    color: rgb(242, 247, 99);
    transform: scale(1.02);
    transition: background-color 0.2s ease-in-out;
}
.recipe button:hover {
    background-color: rgb(30, 48, 80);
    color: rgb(242, 247, 99);
    transform: scale(1.02);
    transition: background-color 0.2s ease-in-out;
}
#searchButton:hover {
    background: linear-gradient(180deg,rgba(242, 247, 99, 1) 0%, rgba(30, 48, 80, 0.3) 100%);
    border: 1px solid rgba(252, 252, 240, 0.7);
    transform: scale(1.02);
    transition: background-color 1s ease-in-out;
}

#dropdown:hover {
    background: linear-gradient(180deg,rgba(242, 247, 99, 1) 0%, rgba(30, 48, 80, 0.3) 100%);
    border: 1px solid rgba(252, 252, 240, 0.7);
    transform: scale(1.02);
    transition: background-color 1s ease-in-out;
}

.meal-detail-actions button:hover {
    background-color: rgb(30, 48, 80);
    color: rgb(242, 247, 99);
    transform: scale(1.02);
    transition: background-color 0.2s ease-in-out;
}